Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
FileOpenOrder/
.vs/
.idea/
*.VC.db
*.opensdf
*.sdf
*.suo
*.sln
*.xcodeproj
*.xcworkspace
*.VC.opendb
*.code-workspace
*.log
CrashReportClient/
MetaHuman/
