Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/Windows/
Build/Android/
Build/IOS/
Build/Mac/
Build/Linux/
.vs/
.idea/
FileOpenOrder/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcodeproj
*.xcworkspace
*.log
CompileLog.txt
